<mat-sidenav-container>
  <mat-toolbar primary>
    <span>{{title}}</span>
  </mat-toolbar>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Bem vindo ao {{title}}!
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Esse "aplicativo" é para auxilir na contagem de ingressos da Festa da Paróquia Santo Antônio.
      </p>
    </mat-card-content>
  </mat-card>
  <app-list-qrcodes></app-list-qrcodes>
  <app-read-qrcodes></app-read-qrcodes>
</mat-sidenav-container>
