<mat-card>
  <mat-card-header>
    <mat-card-title>Controle da câmera</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button color="accent" (click)="toggleTorch()">Flash <mat-icon aria-hidden="false" aria-label="Flash"
        [fontIcon]="icon()"></mat-icon></button>
    <button mat-button color="accent" (click)="toggleDevices()"><mat-icon aria-hidden="false" aria-label="Flash"
        fontIcon="cameraswitch"></mat-icon>Câmera</button>
    <button mat-button color="accent" (click)="gerarVarios()"><mat-icon aria-hidden="false" aria-label="Flash"
        fontIcon="cameraswitch"></mat-icon>Gerar gerarVarios</button>
  </mat-card-actions>

  <mat-card-content>
    <div>
      <zxing-scanner [torch]="torchEnabled" [device]="currentDevice" (camerasFound)="onCamerasFound($event)"
        [formats]="allowedFormats" class="zxing-scanner" (scanSuccess)="scanSuccess($event)"></zxing-scanner>
    </div>
  </mat-card-content>

</mat-card>